#app {
  position: relative; /* This is the anchor for the absolute positioning inside */
  width: 640px; /* Set your desired size */
  height: 480px;
}

#app video, 
#app canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#app canvas {
  z-index: 10;
}

#map {
  position: absolute; /* Or however you want to position it */
  top: 10px;
  left: 1000px;
  width: 600px;  /* Give it a specific size */
  height: 500px; /* Give it a specific size */
  
}